<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grarak.romswitcher">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Holo.Light.DarkActionBar">
        <activity
            android:name="com.grarak.romswitcher.activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grarak.romswitcher.activities.RomSwitcherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.grarak.romswitcher.activities.RomInformationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.grarak.romswitcher.activities.FileBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.grarak.romswitcher.activities.AppsharingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name=".services.AppUpdaterService" />
    </application>

</manifest>
